<!-- <div class="remove-container container-block">
  <h2 class="container-block-title">
    Portfolio
  </h2>
  <ul class="list-unstyled interests-list">
    <li><a target="_blank" href="https://www.youtube.com/watch?v=Jnmj1dXDbNk">How to use?</a></li>
     <li><a class="github-button" href="https://github.com/sharu725/online-cv" data-icon="octicon-star" data-show-count="true" aria-label="Star sharu725/online-cv on GitHub">Star</a>
     <script async defer src="https://buttons.github.io/buttons.js"></script>
  </ul>
</div>//About -->



<div class="container-block">
  <h2 class="container-block-title">
    Portfolio
  </h2>

  <!-- 포트폴리오 버튼 -->
  <div style="margin: 10px 0;">
    <a href="https://drive.google.com/file/d/1N9wmzhHIBBMOW_xvFUlKULoV6NwvGjW2/view?usp=sharing" 
       target="_blank"
       style="
         display: inline-block;
         padding: 10px 18px;
         background-color: #265a88;
         color: white;
         border-radius: 6px;
         text-decoration: none;
         font-weight: 600;
         transition: 0.2s;
       "
       onmouseover="this.style.backgroundColor='#86f2ed'"
       onmouseout="this.style.backgroundColor='#3bbdc4'">
       🌟View Portfolio
    </a>
  </div>
</div>